.Title {
    margin: 0;
}

.MovieBox {
    display: flex;
    padding: 20px;
    border-bottom: solid 1px grey;
}

.MovieInfo {
    padding: 20px 40px;
}

.GenresList {
    list-style: none;
    display: flex;
    padding: 0;
    gap: 16px;
}

.Button {
    margin-top: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    margin-bottom: 10px;
    font-weight: 500;
}

.Button:hover {
    background-color: #63c5da;
}

.LinkBack {
    display: flex;
    font-size: 14px;
    align-items: center;
    column-gap: 10px;
}


.InfoBox {
    padding: 20px;
    border-bottom: solid 1px grey;
}